.link_bar{
	color: #99CCFF;
}
#nav{
	height: 25px;
	background-color: #184c64;
	min-width: 1000px;
}
#nav ul{
     overflow: hidden;
}
#nav ul li{
	overflow: hidden;
	float: left;
    display: inline;
    font-size: 16px;
    width: 12.5%;
    text-align: center;
}
#main_content{
		width: 100%;
	min-width: 1000px;
	*min-width: 1000px;
	_min-width: 1000px;
	height: 350px;
}
#title{
	width: 30%;
	height: 350px;
	float: left;
	border: 1px #184c64 solid;
}
#change_content{
	width: 69.5%;
	
	/*min-width: 1000px;*/
	height: 350px;
	float: right;
	border: 1px #184c64 solid;

}
#link1{
	width: 100%;
	max-width: 1920px;
	min-width: 1000px;
	height: 25px;
	background-color: #184c64;

}

#link1 ul{
     -webkit-border-radius: 0px;
     border-radius: 0px;
     padding: 0px 0px;
     margin-bottom: 0px;
}
#link1 ul li{
	float: left;
    display: inline;
    font-size: 16px;
    margin-left: 18px;
    width: 23%;
    text-align: center;
}
#picture{
	width: 100%;
	max-width: 1920px;
	min-width: 1000px;
	height: 108px;
	background-color: #fff;
}
#pic_logo{
	float: left;
	width: 20%;
	max-width: 313px;
}
#pic_show ul li{
	overflow: hidden;
	float: right;
    display: inline;
    margin-left: 10px;
    width: 10%;
    text-align: center;
}
#link2{
	width: 100%;
	max-width: 1920px;
	height: 50px;
}
#link2_first{
    background-color: #184c64;
    height: 25px;
}
#link2_second{
	border-top: 2px solid #fff;
    background-color: #184c64;
    height: 25px;
}
#link2_first ul{
     -webkit-border-radius: 0px;
     border-radius: 0px;
     padding: 0px 0px;
     margin-bottom: 0px;
}
#link2_first ul li{
	float: left;
    display: inline;
    font-size: 16px;
    margin-left: 18px;
    width: 40%;
    text-align: center;
}
#link2_second ul{
     -webkit-border-radius: 0px;
     border-radius: 0px;
     padding: 0px 0px;
     margin-bottom: 0px;
}
#link2_second ul li{
	float: left;
    display: inline;
    font-size: 16px;
    margin-left: 18px;
    width: 30%;
    text-align: center;
    /*color: #99CCFF;*/
}
#web_maintainer{
	border-left: 1px solid;
	text-align: center;
}